ul.pagination {
    line-height: 36px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: block;
    color: #428bca;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

ul.pagination>li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}

ul.pagination>li>a {
    margin: 0;
    padding: 7px 12px;
    display: inline;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #0ff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

ul.pagination>li>a:hover {
    border: 1px solid #08f;
}

ul.pagination>li>span {
    padding: 7px 10px;
    display: inline;
    color: #428bca;
    text-align: center;
    cursor: default;
}

ul.pagination>li>a.active {
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    outline: none;
    cursor: default;
}

ul.pagination>li>a.disabled {
    color: #999;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    cursor: not-allowed;
}