ul.pagination {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #428bca;
}

ul.pagination > li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}

ul.pagination > li > a {
    display: inline;
    margin: 0;
    padding: 7px 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #428bca;
    border: 1px solid #0ff;
    border-radius: 4px;
    background-color: #fff;
}

ul.pagination > li > a:hover {
    border: 1px solid #08f;
}

ul.pagination > li > span {
    display: inline;
    padding: 7px 10px;
    cursor: default;
    text-align: center;
    color: #428bca;
}

ul.pagination > li > a.active {
    cursor: default;
    color: #fff;
    border: 1px solid #428bca;
    outline: none;
    background-color: #428bca;
}

ul.pagination > li > a.disabled {
    cursor: not-allowed;
    color: #999;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
}